<title>Shorty URL</title>
<h1 align="center">Shorty URL</h1>


<p align = "center">Your short url is: <a href="http://localhost:9393/<%=@url.short_url %>">http://localhost:9393/<%=@url.short_url%></a></p>

